<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>
<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div style="">
    <i class="fa fa-arrow-left" style="font-size: 30px" [routerLink]="'/view_pr'"></i>
  </div>
  <div style="margin-top: 20px;display: flex">
    <div style="font-weight: bold;color: #b68003;font-size: 18px">New Purchase Order (Site Manager)</div>
  </div>
</div>

<div class="row" style="border-top: 1px solid #aeaeae;margin: 10px">
  <div class="col-12">

    <div style="margin-top: 20px">
      <span style="font-weight: bold">Priority : </span>
      <span><input type="number" class="form-control"></span>
    </div>

    <div>
      <span style="font-weight: bold">Date : </span>
      <span><input type="date" class="form-control" [(ngModel)]="order.addedAt"></span>
    </div>

    <div>
      <span style="font-weight: bold">Site : </span>
      <span>
        <select class="form-control" [(ngModel)]="order.siteName">
          <option value="">Select Site</option>
          <option value="Colombo">Colombo</option>
          <option value="Galle">Galle</option>
        </select>
      </span>
    </div>

    <div style="text-align: right">
      <button class="btn btn-warning" (click)="isTrueOrFalseDetails(true)" style="margin-top: 20px;margin-bottom: 20px">Add Item</button>
    </div>

    <div *ngFor="let orderDetail of orderDetails;let i = index" style="border: 1px solid black;border-radius: 10px;margin-bottom: 10px;padding: 10px">
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Item No
        </div>
        <div class="col-6">
          {{orderDetail.id}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Item Name
        </div>
        <div class="col-6">
          {{orderDetail.material.itemName}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Item Type
        </div>
        <div class="col-6">
          {{orderDetail.material.itemType}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Unit Price
        </div>
        <div class="col-6">
          {{orderDetail.poUnitPrice}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Quantity
        </div>
        <div class="col-6">
          {{orderDetail.poQuantity}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Total
        </div>
        <div class="col-6">
          {{(orderDetail.poUnitPrice * orderDetail.poQuantity) | number : '1.2-2'}}
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="text-align: right">
          <button class="btn btn-danger" (click)="removeItem(i)">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: right">
    <span style="font-weight: bold">Total : </span>
    <span>{{total | number : '1.2-2'}}</span>
  </div>

  <div style="margin-top: 20px">
    <div style="font-weight: bold">Add Notes</div>
    <div>
      <textarea class="form-control" cols="30" rows="4" [(ngModel)]="order.deliverNote"></textarea>
    </div>
  </div>

  <div style="margin-top: 20px">
    <div style="font-weight: bold">Handling Instructions</div>
    <div>
      <textarea class="form-control" cols="30" rows="4" [(ngModel)]="order.handlingInstruction"></textarea>
    </div>
  </div>

  <div style="margin-top: 20px;text-align: right">
    <button class="btn btn-success" style="margin-right: 10px" (click)="addPR()">Add PR</button>
  </div>

</div>

<div class="modalTable" *ngIf="isModalTableDetails.openTable">
  <div (click)="isTrueOrFalseDetails(false)"></div>
  <div>
    <div class="selectChild" id="imageActivitySize"
         style="max-height: calc(100vh - 60px);overflow-y: hidden;margin-top: 10px;">
      <div style="position: absolute;z-index: 99;right: 10px;top: 10px;">
        <i class="fas fa-times" style="cursor: pointer" (click)="isTrueOrFalseDetails(false)"></i>
      </div>

      <div class="row" style="padding: 40px">
        <div class="col-12">
          <span>Item No</span>
          <span style="display: flex">
            <input type="text" class="form-control" [(ngModel)]="item.id">
            <i class="fa fa-search" style="padding-top: 10px;padding-left: 10px" (click)="getItemById()"></i>
          </span>
        </div>
        <div class="col-12">
          <span>Item Name</span>
          <span>
            <input type="text" class="form-control" [(ngModel)]="item.itemName">
          </span>
        </div>
        <div class="col-12">
          <span>Item Type</span>
          <span>
            <input type="text" class="form-control" [(ngModel)]="item.itemType">
          </span>
        </div>
        <div class="col-12">
          <span>Quantity</span>
          <span>
            <input type="number" class="form-control" [(ngModel)]="item.poQuantity">
          </span>
        </div>
        <div class="col-12">
          <span>Unit Price</span>
          <span>
            <input type="number" class="form-control" [(ngModel)]="item.poUnitPrice">
          </span>
        </div>
      </div>
      <div style="text-align: right">
        <button class="btn btn-success" (click)="addItem()">Add Item</button>
      </div>
    </div>
  </div>
</div>
