<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div style="margin-top: 0px;display: flex">
    <div style="font-weight: bold;color: #b68003;font-size: 18px">View Purchase Orders</div>
  </div>
</div>

<div class="row" style="border-top: 1px solid #aeaeae;margin: 10px">
  <div class="col-12">

    <div style="text-align: right">
      <button class="btn btn-warning" [routerLink]="'/create_pr'" style="margin-top: 20px">Add Purchase Order
      </button>
    </div>
    <!--<div style="margin-top: 10px;text-align: right">-->
      <!--<span style="font-weight: bold">R. -</span> Requested,-->
      <!--<span style="font-weight: bold"> N. -</span> New-->
    <!--</div>-->
    <table class="table" width="100%" border="1px solid black" style="margin-top: 20px">
      <thead class="thead-dark">
      <th>Order No</th>
      <th>Supplier</th>
      <th style="text-align: center">Status</th>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders;let i = index" (click)="viewPRDetails(order)">
        <td>{{order.id}}</td>
        <td>{{order.supplier==null?'N/A':order.supplier.name}}</td>
        <td style="text-align: center">{{order.poStatus}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
