<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div style="margin-top: 20px;display: flex">
    <div style="font-weight: bold;color: #b68003;font-size: 21px;width: calc(100% - 250px)">View Purchase Orders (Site Manager)</div>
  </div>
</div>

<div class="row" style="border-top: 1px solid #aeaeae;margin: 10px">
  <div class="col-12">

    <div style="text-align: right">
      <button class="btn btn-warning" [routerLink]="'/create_pr'" style="margin-top: 20px">Add Purchase Order
      </button>
    </div>
    <div style="margin-top: 10px;text-align: right">
      <span style="font-weight: bold">R. -</span> Requested,
      <span style="font-weight: bold"> N. -</span> New
    </div>
    <table class="table" width="100%" border="1px solid black">
      <thead class="thead-dark">
      <th>Order No</th>
      <th>Order Date</th>
      <th>R.Total</th>
      <th>N.Total</th>
      <th style="text-align: center">View</th>
      <th style="text-align: center">Remove</th>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders;let i = index">
        <td>{{order.id}}</td>
        <td>{{order.addedAt}}</td>
        <td>{{calcTotalP(order) | number : '1.2-2'}}</td>
        <td>{{calcTotalS(order) | number : '1.2-2'}}</td>
        <td style="text-align: center;"><i class="fa fa-eye" (click)="viewPRDetails(order)"></i></td>
        <td style="text-align: center;"><i class="fa fa-times"></i></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
