<app-alert-box *ngIf="alertBox.alert" [alertMsg]="alertBox"></app-alert-box>
<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div style="margin-top: 20px;display: flex">
    <div style="font-weight: bold;color: #b68003;font-size: 21px;width: calc(100% - 250px)">Purchase Orders (Supplier)</div>
    <div style="width: 250px;display: flex">
      <input type="text" class="form-control" style="border-radius: 20px" placeholder="Search">
      <i class="fa fa-search" style="font-size: 20px;padding: 10px 10px 10px 15px"></i>
    </div>
  </div>
  <div>
    <select class="form-control" style="width: 200px">
      <option value="">Filter</option>
      <option value="">Sub Total</option>
    </select>
  </div>
</div>

<div class="row" style="border-top: 1px solid #aeaeae;margin: 10px">
  <div class="col-12">

    <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
      <thead class="thead-dark">
      <th>Order Reference</th>
      <th>Buyer</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Status</th>
      <th style="text-align: center">Order Details</th>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders;let i = index">
        <td>PO{{order.id}}</td>
        <td>{{order.siteManager.company.companyName}}</td>
        <td>{{order.purchaseOrderDetailList.length}}</td>
        <td>{{calcTotalS(order) | number : '1.2-2'}}</td>
        <td>{{order.soStatus}}</td>
        <td style="text-align: center">
          <i class="fa fa-arrow-right" (click)="viewPO(order)"></i></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<!--<div class="modalTable" *ngIf="isModalTableDetails.openTable">-->
<!--<div (click)="isTrueOrFalseDetails(false)"></div>-->
<!--<div>-->
<!--<div class="selectChild" id="imageActivitySize"-->
<!--style="max-height: calc(100vh - 60px);overflow-y: hidden;margin-left: 10px;margin-right: 10px;margin-top: 300px;">-->
<!--<div style="position: absolute;z-index: 99;right: 10px;top: 10px;">-->
<!--<i class="fas fa-times" style="cursor: pointer" (click)="isTrueOrFalseDetails(false)"></i>-->
<!--</div>-->

<!--<div>-->
<!--Change the-->
<!--&lt;!&ndash;<div style="position: relative;display: flex;justify-content: center;">&ndash;&gt;-->

<!--&lt;!&ndash;<div style="color: green;font-weight: bold;width: 1200px;font-size: 40px;text-align: center">{{reply.msg}}&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
