<div class="row" style="border-top: 1px solid #aeaeae;margin: 10px">
  <div style="margin-top: 20px">
    <i class="fa fa-arrow-left" style="font-size: 30px" [routerLink]="'/purchase_order_details'"></i>
  </div>
  <div style="margin-top: 20px">
    <div style="font-weight: bold;color: #b68003;font-size: 21px;width: calc(100% - 250px);margin-bottom: 20px">Invoice</div>
    <span style="font-weight: bold">Buyer : </span>
    <span>{{order.siteManager.company.companyName}}</span>
  </div>
  <div style="margin-top: 20px">
    <span style="font-weight: bold">Purchase Order Reference : </span>
    <span>PO{{order.id}}</span>
  </div>
  <div style="margin-top: 20px">
    <span style="font-weight: bold">Invoice Reference : </span>
    <span>IN{{order.id}}</span>
  </div>

  <div class="col-12">

    <table class="table" style="margin-top: 20px" width="100%" border="1px solid black">
      <thead class="thead-dark">
      <th>Item No</th>
      <th>Item Name</th>
      <th>Item Type</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total</th>
      </thead>
      <tbody>
      <!--<tr>-->
      <!--<td>123</td>-->
      <!--<td>ABC</td>-->
      <!--<td>Drink</td>-->
      <!--<td><input type="text" value="12"></td>-->
      <!--<td>5</td>-->
      <!--<td>60</td>-->
      <!--<td>Completed</td>-->
      <!--</tr>-->
      <tr *ngFor="let orderDetail of orderDetails;let i = index">
        <td>{{orderDetail.id}}</td>
        <td>{{orderDetail.material.itemName}}</td>
        <td>{{orderDetail.material.itemType}}</td>
        <td>{{orderDetail.soUnitPrice | number : '1.2-2'}}</td>
        <td>{{orderDetail.soQuantity}}</td>
        <td>{{(orderDetail.soUnitPrice * orderDetail.soQuantity) | number : '1.2-2'}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div style="text-align: right;font-size: 20px">
    <span style="font-weight: bold">Total : </span>
    <span>{{total | number : '1.2-2'}}</span>
  </div>

  <div style="margin-top: 20px">
    <div style="font-weight: bold">Delivery Note</div>
    <div>
      <textarea class="form-control" cols="30" rows="5" [(ngModel)]="order.deliverNote"></textarea>
    </div>
  </div>

  <div style="margin-top: 20px;text-align: right">
    <button class="btn btn-success" style="margin-left: 20px" (click)="deliverOrder()">Deliver Order</button>
  </div>

</div>
