<header class="header" id="header" style="background-color: #4C4C4C;padding-left: 20px">
  <div style="display: flex">
    <div class="header_toggle">
      <i class='bx bx-menu' id="header-toggle" style="padding-top: 16px;color: #a4a4a4"></i>
    </div>
    <div id="fuel_head" style="font-size: 38px;margin-left: 100px;color: #aeaeae;font-weight: bold;padding: 2px 20px 2px 20px">
      <!--<span style="padding-right: 25px;color: #dca800">- -</span>-->
      <i class="fa-solid fa-helmet-safety" style="padding-right: 20px;color: #7b7b7b"></i>
      <!--<span style="padding-right: 20px">_</span>-->
      <span style="color: #108fe2">P</span>rocumentary <span style="color: #108fe2">S</span>ystem
      <!--<span style="padding-left: 20px;color: #dca800">- - - - - - - - - - -</span>-->
    </div>
  </div>
  <!--<div class="header_img"><img src="https://i.imgur.com/hczKIze.jpg" alt=""></div>-->
</header>
