<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div style="margin-top: 0px">
    <i class="fa fa-arrow-left" style="font-size: 30px" [routerLink]="'/view_pr'"></i>
  </div>
  <div style="margin-top: 10px;margin-bottom: 10px">
    <div style="font-weight: bold;color: #b68003;font-size: 21px">Order Details (Site Manager)</div>
    <div style="width: 250px;display: flex">
      <input type="text" class="form-control" style="border-radius: 20px" placeholder="Search">
      <i class="fa fa-search" style="font-size: 20px;padding: 10px 10px 10px 15px"></i>
    </div>
  </div>
  <div>
    <select class="form-control" style="width: 200px">
      <option value="">Filter</option>
      <option value="">Sub Total</option>
    </select>
  </div>
</div>

<div class="row" style="border-top: 1px solid #aeaeae;margin: 10px">
  <div class="col-12">

    <div style="text-align: right">
      <button class="btn btn-warning" (click)="isTrueOrFalseDetails(true)" style="margin-top: 20px;margin-bottom: 20px">Add Item</button>
    </div>
    <!--<div style="margin-top: 10px;text-align: right">-->
    <!--<span style="font-weight: bold">R. -</span> Requested,-->
    <!--<span style="font-weight: bold"> N. -</span> New-->
    <!--</div>-->
    <div *ngFor="let orderDetail of orderDetails;let i = index"
         style="border: 1px solid black;border-radius: 10px;margin-bottom: 10px;padding: 10px">
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Item No
        </div>
        <div class="col-6">
          {{orderDetail.id}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Item Name
        </div>
        <div class="col-6">
          {{orderDetail.material.itemName}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Item Type
        </div>
        <div class="col-6">
          {{orderDetail.material.itemType}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          R.Unit Price
        </div>
        <div class="col-6">
          {{orderDetail.poUnitPrice | number : '1.2-2'}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          N.Unit Price
        </div>
        <div class="col-6">
          {{orderDetail.soUnitPrice | number : '1.2-2'}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          R.Quantity
        </div>
        <div class="col-6">
          {{orderDetail.poQuantity}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          N.Quantity
        </div>
        <div class="col-6">
          {{orderDetail.soQuantity}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Total
        </div>
        <div class="col-6">
          {{(orderDetail.poUnitPrice * orderDetail.poQuantity) | number : '1.2-2'}}
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="font-weight: bold">
          Status
        </div>
        <div class="col-6" style="font-weight: bold">
          <span style="text-align: center" *ngIf="orderDetail.status==='Complete'">
            Accepted
          </span>
          <span style="text-align: center" *ngIf="orderDetail.status==='Incomplete'">
            Not Accepted
          </span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-12" style="text-align: right">
          <button class="btn btn-danger" (click)="removeItem(itemObj.id,i)">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: right">
    <span style="font-weight: bold">Total : </span>
    <span>{{total | number : '1.2-2'}}</span>
  </div>

  <div style="margin-top: 20px">
    <div style="font-weight: bold">Notes</div>
    <div>
      <textarea readonly class="form-control" cols="30" rows="4" [(ngModel)]="order.deliverNote"></textarea>
    </div>
  </div>

  <div style="margin-top: 20px">
    <div style="font-weight: bold">Handling Instructions</div>
    <div>
      <textarea readonly class="form-control" cols="30" rows="4" [(ngModel)]="order.handlingInstruction"></textarea>
    </div>
  </div>

  <div style="margin-top: 20px;text-align: right">
    <button class="btn btn-success" style="margin-right: 10px" (click)="removePO()">Delete PR</button>
  </div>

</div>


<div class="modalTable" *ngIf="isModalTableDetails.openTable">
  <div (click)="isTrueOrFalseDetails(false)"></div>
  <div>
    <div class="selectChild" id="imageActivitySize"
         style="max-height: calc(100vh - 60px);overflow-y: hidden;margin-left: 60px;margin-right: 10px;margin-top: 100px;">
      <div style="position: absolute;z-index: 99;right: 10px;top: 10px;">
        <i class="fas fa-times" style="cursor: pointer" (click)="isTrueOrFalseDetails(false)"></i>
      </div>

      <div class="row" style="padding: 40px">
        <div class="col-6">
          <span>Item No</span>
          <span style="display: flex">
            <input type="text" class="form-control" [(ngModel)]="item.id">
            <i class="fa fa-search" style="padding-top: 10px;padding-left: 10px" (click)="getItemById()"></i>
          </span>
        </div>
        <div class="col-6">
          <span>Item Name</span>
          <span>
            <input type="text" class="form-control" [(ngModel)]="item.itemName">
          </span>
        </div>
        <div class="col-6">
          <span>Item Type</span>
          <span>
            <input type="text" class="form-control" [(ngModel)]="item.itemType">
          </span>
        </div>
        <div class="col-6">
          <span>Quantity</span>
          <span>
            <input type="number" class="form-control" [(ngModel)]="item.poQuantity">
          </span>
        </div>
        <div class="col-6">
          <span>Unit Price</span>
          <span>
            <input type="number" class="form-control" [(ngModel)]="item.poUnitPrice">
          </span>
        </div>
      </div>
      <div style="text-align: right">
        <button class="btn btn-success" (click)="addItem()">Add Item</button>
      </div>
    </div>
  </div>
</div>
